* {
  box-sizing: border-box;
  /*se ajusta al tamño del contenedor*/
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

header {
  background-color: #000;
}

#logos {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

#copa img {
  width: 100px;
}

#fifa img {
  width: 191px;
}

/*fin del header*/
/*comienzo del nav*/
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
  text-transform: uppercase;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

.activo {
  border-bottom: 5px solid rgb(105, 43, 43);
  box-shadow: 5px 5px lightgray;
}

/*fin del nav*/
/*inicio main*/
section {
  width: 900px;
  height: 600px;
  background-color: red;
  margin: 0 auto;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section div {
  width: 300px;
  height: 170px;
  background-color: rgb(90, 20, 20);
  margin: 5px;
}

#intro {
  box-shadow: 7px 5px;
  border-radius: 15px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdMMOyeLQIlES7G2Bah7s3LlYUsC6FZB3uBQ&s)
}

#eeuu {
  background-image: url(../img/banderaeeuu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#mx {
  background-image: url(../img/banderamx.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#can {
  background-image: url(../img/banderacan.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*fin main*/
/*Comienzo de estadios*/
table,
td,
th {
  background-color: rgb(33, 4, 4) 8px solid;
}

/*inicio del footer*/
#colegio {
  width: 33%;
  background-color: red;
  padding: 5px;
 }
 
 
 #colegio a {
  color: #d4d4d4;
 }
 
 
 #alumno {
  width: 33%;
  background-color: yellow;
  color: #aaa;
  padding: 5px;
 }
 
 
 #alumno a {
  color: #aaa;
 }
 
 
 #sociales {
  width: 33%;
  background-color: lightblue;
  padding: 5px;
 }
 
 
 #sociales img {
  width: 45px;
 }
/*fin del footer*/
main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
/*campeones********/
/****** /* Contenedor principal: Divide el diseño en dos columnas (Continente y Paises) */
.campeones {
display: grid;
grid-template-columns: 1fr 3fr; /*25% para continente, 75% para paises */
border: 2px solid #000;
width: 100%;
}
/* Columna Izquierda: Continente ocupará todo el alto disponible atomaticamente */
.continente {
  border-right: 2px solid #000;
  padding: 15px 10px;
  font-weight: bold;
  font-size: 14px;
}
/* Columna Derecha: Se convierte en otro Grid para organizar el contenido interno */
.paises {
  display: grid;
  grid-template-columns: 1fr 1fr; /*Divido en 2 columnas para las fotos */
}
/* El título del País ocupa las dos columnas */
.pais {
  grid-column: span 2;
  padding: 10px;
  font-weight: bold;
  font-size: 13px;
  border-bottom: 2px solid #000;
}

/* Las fotos se acomodan una al lado de la otra automaticamente (50% cada una) */
.foto {
  min-height: 120px; /*Espacio para la imagen */
  padding: 35px 10px 10px 10px;
  font-size: 11px;
  border-bottom: 2px solid #000;
}

/* Borde vertical divisor solo en la primera foto */
.foto:nth_of_type(odd) {
  border-right: 2px solid #000;
}

/* La reseña se salta al fondo ocupando las dos columnas */
.resenia {
  grid-column: span 2;
  padding: 10px;
  min-height: 80px;
  font-size: 11px;
}
/*datos de campeones*/
.paises .foto img{
  width: 100%;
}
.resenia p{
  font-size: 16px;
}

.multimedia{
  width: 800px;
  background-color: #000;
}
.multimedia video{
  width: 600px;
}

/*estadios*/

#estadosunidos, #estadosunidos tr, #estadosunidos td, #estadosunidos th{
  border: solid crimson 3px;
  border-collapse: collapse;
}
#estadosunidos img{
  width: 200px;
}

#canada, #canada tr, #canada td, #canada th{
  border: solid crimson 3px;
  border-collapse: collapse;
}
#canada img{
  width: 200px;
}

#mexico, #mexico tr, #mexico td, #mexico th{
  border: solid crimson 3px;
  border-collapse: collapse;
}
#mexico img{
  width: 200px;
}

